%hr
%tt
  = activity.id
%b
  = activity.name
with
%b
  = activity.vendor
%ul
  = render partial: 'schedule', collection: activity.schedules
%ul
  = render partial: 'event', collection: activity.events
